input {
	font-size: medium;

	display: block;
	width: 200px;
	height: 22px;
	margin-bottom: 10px;
}

@media (prefers-color-scheme: dark) {
	input {
		background-color: #404040;
		color: rgb(215, 215, 215);
		border: 1px #919191 solid;
		border-radius: 2px;
		padding: 2px 3px;
	}
}

button {
	margin-bottom: 20px;
}

#search_result {
	> div {
		margin-bottom: 10px;

		> a:first-child {
			font-size: large;
			margin-right: 7px;
		}
		
		> a:last-child {
			font-size: small;
		}
	}
}
