h3, p {
	margin-bottom: 10px;
}

p {
	margin-top: 10px;
}

#left_side, #right_side {
	width: 50%;
	float: left;
}

@media only screen and (max-width: 990px) {
	#left_side, #right_side {
		float: none;
		width: auto;
	}

	#right_side {
		margin-top: 40px;
	}
}
